@font-face {
	font-family: 'Gorgeous-Black';
	src: url('../Fonts/Gorgeous/Gorgeous-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Gorgeous-ExtraBold';
	src: url('../Fonts/Gorgeous/Gorgeous-ExtraBold.tff') format('truetype');
}

@font-face {
	font-family: 'Carosello-Regular';
	src: url(../Fonts/Carosello-Regular.otf) format('opentype'),
		 url(../Fonts/Carosello-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'JosefinSans-Bold';
	src : url('JosefinSans-Bold.ttf') format('truetype');
}